@import 'utils/mixins';

.ChannelFromTemplateIntro {
    display: flex;
    max-width: 1030px;
    min-height: 348px;
    flex-direction: column;
    padding: 32px;
    margin: 16px 19px 24px 24px;
    background: rgba(var(--button-bg-rgb), 0.08);
    border-radius: 12px;
    gap: 8px;

    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        &--image {
            display: flex;
            width: 64px;
            height: 64px;
            align-items: center;
            justify-content: center;
            margin-right: 16px;
            background-color: rgba(var(--center-channel-color-rgb), 0.08);
            border-radius: 32px;
        }

        &--text {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &--textTitle {
            margin: 0;
            color: var(--center-channel-text);
            font-size: 25px;
            font-weight: 600;
        }

        &--textSubtitle {
            margin: 0;
            color: rgba(var(--center-channel-text-rgb), 0.72);
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;

            i {
                margin-left: -5px;
                color: rgba(var(--center-channel-text-rgb), 0.64);
                font-size: 14px;
            }

            .AddMembersButton {
                display: inline-block;

                .titleAndButton,
                .MoreThanUserLimit {
                    padding: 0;
                    margin-left: 0 !important;

                    button {
                        @include button-as-link;

                        padding: 0;
                        font-size: 14px;
                        font-weight: 400;

                        &:hover {
                            text-decoration: none !important;
                        }
                    }
                }
            }
        }
    }

    &__body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .TemplateList {
            margin-top: 24px;
            margin-right: 24px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
