.TemplateList {
  display: flex;
  flex-direction: column;
  max-width: 280px;

  &__Header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    &--image {
        width: 32px;
        height: 32px;
        border-radius: 16px;
        background-color: rgba(var(--center-channel-color-rgb), 0.08);
        margin-right: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
            width: 18px;
            height: 18px;
            color: rgba(var(--center-channel-color-rgb), 0.64);
        }
      }
      
      &--title {
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          display: flex;
          align-items: center;
          color: rgba(var(--center-channel-color-rgb), 0.72);
      }
  }
  
  &__Description{
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      display: flex;
      align-items: center;
      color: rgba(var(--center-channel-color-rgb), 0.72);
  }
  
  .TemplateItem {
      margin-top: 12px;
  }
}

